page-login {

}

.logo{
	text-align: center;
}

#title {
	text-align: center;
	font-weight: bold;
	color: skyblue;
}

.form-group {
	text-align: center;
}

#btnvalider {
	margin-top: 1em;
	background-color: skyblue;
	color: white;
	font-weight: bold;	
}

#pwdzone {
	margin-top: 1em;
}